<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand ms-3" href="/">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ27O22zm74FspjZAsGtXj72WVK2p47uu4yhw&usqp=CAU"
        width="50" height="50" class="d-inline-block" alt="image" style="border-radius: 50%; margin-right: 10px" />
      <b>{{ title }}</b>
    </a>

    <div>
      <button (click)="redirectToAddNew()" class="btn btn-outline-success mx-2" type="submit">
        ADD NEW COMPOUND
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>